<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hapticaudio">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="HapticAudio"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="将全局音频转化为实时线性马达震动，并强制静音。" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
    </application>
</manifest>
